* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
body{
    background-size: 100%;
    background: #FFF;
    font-family:  "Baloo 2",Poppins, Roboto, Oxygen, Ubuntu, sans-serif;
    color: black;
}
li {
    list-style: none;
}
a {
    color: black;
}
main {
    flex: 1 0 auto;
}

/* header */

header {
    position: fixed;
    background-color: #FFF;
    display: flex;
    align-items: center;
    z-index: 1;
    width: 100vw;

}
header .logo_site{
    height: 70px;
    margin-left: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.logo_site img{
    height: 70px;
}


.link_nav_header a:hover{
    color: rgb(189, 10, 10);
}


.panier #icone_panier:hover {
    cursor: pointer;
}
#produit_panier {
    display: none;
    background-color: rgb(189, 10, 10);
    border-radius: 18px;
    padding: 5px;
    color: white;

    position: absolute;
    top: 3px;
    right: 55px;
    z-index: 2;
}

/* footer */
footer {
    position: relative;
    height: 100px;
    width: 100%;
    background-color: #FFF;
}
.footer_contenent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    display: flex;
}
.footer_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    display: flex;
    font-size: 12px;
    text-align: center;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 15px;
}
.footer_text a{
    font-size: 13px;
    text-decoration: underline;
}
footer img{
    height: 30px;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    cursor: pointer;
}

@media screen and ( max-width: 740px) {
    header .logo_site{
        height: 70px;
        margin-left: 0%;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100vw;
    }
    .logo_site img {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    /* burger */
    .burger {
        display: block;
        width: 42px;
        height: 24px;
        cursor: pointer;
        position: absolute;
        right: 10px;
    }
    .burger span {
        width: 100%;
        height: 4px;
        background-color: #020405;
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: background-color 0.3s ease-in-out;
    }
    .burger span::before, .burger span::after {
        content: "";
        width: 100%;
        height: 4px;
        background-color: #020405;
        position: absolute;
        transition: transform 0.3s ease-in-out;
    }

    .burger span::before {
        transform: translateY(-10px);
    }
    .burger span::after {
        transform: translateY(10px);
    }
    .burger.open span {
        background-color: transparent;
    }
    .burger.open span::before {
        transform: rotateZ(45deg);
    }
    .burger.open span::after {
        transform: rotateZ(-45deg);
    }

    /* navigation */
    .nav_header {
        width: 50vw;
        height: 100%;
        position: fixed;
        padding: 20px;
        right: -50vw;
        top: 80px;
        background-color: #FFF;
        transition: right 0.5s ease-in-out;
    }
    .nav_header.open {
        right: 0;
    }
    .link_nav_header{
        margin-bottom: 15px;
    }
    .link_nav_header a {
        color: #020405;
        font-weight: bold;
        height: 100%;
    }
    .panier #icone_panier {
        width: 60px;
        position: absolute;
        top: 10px;
        right: 60px;
    }

}
@media screen and ( min-width: 741px) {
    /* navigation */
    .nav_header {
        margin-left: 10%;
        display: flex;
        justify-content: space-between;
        width: 50%;
        
    }
    .nav_header.open {
        right: 0;
    }
    .link_nav_header a {
        text-align: center;
        color: #020405;
        font-weight: bold;
        height: 100%;
    }
    .panier #icone_panier {
        width: 60px;
        position: absolute;
        top: 10px;
        right: 60px;
    }

    
}
@media screen and ( min-width: 1200px) {
    .nav_header {
        margin-left: 10%;
        display: flex;
        justify-content: space-between;
        width: 40%;
        
    }
    .panier #icone_panier {
        width: 60px;
        position: absolute;
        top: 10px;
        right: 60px;
    }
    
}