.panier_fenetre {
    overflow-y: scroll;
    position: fixed;
    top: 80px;
    right: -100vw;
    background-color: white;
    z-index: 4;
    height: 70%;
    width: 50vw;
    border-left: solid rgb(189, 10, 10);
    border-bottom: solid rgb(189, 10, 10);
    transition: .5s ease-in-out;
}

.open_panier {
    right: 0;
}

.panier_fenetre img {
    width: 100px;
    left: 50px;
}
.produit_panier {
    margin-left: 50px;
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
}
.prix_total {
    margin-left: 50px;
    font-weight: 600;
    font-size: 25px;
    
}
.produit_panier button{
    border: none;
    font-weight: 1000;
    font-size: 30px;
}
.buttonNone img {
    cursor: pointer;
    width: 20px;
}
.buttonM {
    cursor: pointer;
}
.buttonP {
    cursor: pointer;
}
#button_payer {
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 50px;
    grid-area: button;
    height: 50px;
    width: 150px;
    border-radius: 50px;
    background-color: rgb(200, 200, 200);
    border-style: none;
    font-size: 18px;
    font-weight: 50;
    transition: border-radius 0.25s ease-out;
}
#button_payer:hover {
    cursor: pointer;
    background-color: rgb(189, 10, 10);
    border-radius: 5px;
    color: white;
}
.produit_panier_vide {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#img_panier_vide {
    width: 35%;
}
#text_panier_vide {
    font-size: 100%;
}

@media screen and ( max-width: 740px) {
    .panier_fenetre {
        width: 100vw;
        height: 89%;
    }
}
@media screen and (max-width: 900px) {
    .produit_panier {
        width: 80%;
    }
}